<% layout('/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Homestay</h1>
    <div class="col-6 offset-3">
        <form class="validated-form" action="/homestay/<%= homestay._id%>?_method=PUT" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="homestay[title]" value="<%= homestay.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="homestay[location]" value="<%= homestay.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="homestay[image]" value="<%= homestay.image%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Homestay Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="homestay[price]" value="<%= homestay.price%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="homestay[description]" required><%= homestay.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Homestay</button>
            </div>
            
            </form>
        <div>
            <a href="/homestay/<%= homestay._id%>">Back To Homestay</a>
        </div> 
    </div>
</div> 