<% layout('/layouts/boilerplate') %>

<div id="cluster-map"></div>

<h1>All Homestay</h1>

<ul>
    <% for(let h of homestay){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(h.image.length){ %> 
                        <img class="img-fluid" alt="" src="<%=h.image[0].url%>">
                    <% }else{%>
                        <img class="img-fluid" alt="" src="">
                    <% } %>  
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=h.title%></h5>
                        <p class="card-text"><%=h.description%></p>
                        <p class="card-text">
                            <small class="text-muted"><%=h.location%></small>
                        </p>
                        <a class="btn btn-primary" href="/homestay/<%=h.id%>">View <%=h.title%></a>
                    </div>
                </div>
            </div>
        </div>
    <% }%>  
</ul>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const homestay = {features: <%-JSON.stringify(homestay)%>};
</script>

<script src="/javascripts/clusterMap.js"></script>